# Supabase
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

# Payment (Midtrans Sandbox)
MIDTRANS_MERCHANT_ID=M537180881
MIDTRANS_SERVER_KEY=Mid-client-SmAuszrP-6dnv8jy
MIDTRANS_CLIENT_KEY=Mid-client-SmAuszrP-6dnv8jy
MIDTRANS_IS_PRODUCTION=false

# Shipping (Biteship Sandbox)
BITESHIP_API_KEY=biteship_test.eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJuYW1lIjoiUGV0c2hvcCIsInVzZXJJZCI6IjY5ZjhlZjZmMzFkNjhiOWMyMGRjYmVlOSIsImlhdCI6MTc3NzkyMjEzMn0.kM8mdkktnCWUN9f3leuW8OnJoayYDmM-mS1yQORvTWM
BITESHIP_ORIGIN_AREA_ID=IDNP3CL10DT10 -- South Jakarta (Kebayoran Baru)

# Maps
NEXT_PUBLIC_GOOGLE_MAPS_KEY=

# WhatsApp Notification
WHATSAPP_API_KEY=
WHATSAPP_SENDER_NUMBER=

# Storage
NEXT_PUBLIC_STORAGE_URL=

# App
NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_APP_NAME=Pawvels


